*.root
*.pdf
*.png
*.C 
*.txt
*.pdf
*.png
*.h
*.def
*.dat.*
*.log
*.nfs*

#folder
bk_db_prex
DB
DB_APEX
DB_PREXI
DB_PREXII
dpscan_27JunOwl
FADC_decode_prex
onlineGUI64
ROL
save1
save2
libraries
Sieve
save_DB_Jul9
save_DB_June25
save_db_no_use
scripts
macros
opticsOptimization
OUTPUT
DB_APEX
DB_PREXI
bk_db_prex
rootfiles
summaryfiles
